// Import page-specific CSS files here.
@import "home";

.centered {
  display: flex;
  justify-content: center;
}

.centered h1{
  font-size: 48px;
  text-align: center;
}

.centered a {
 font-size: 24px;
}

